@import url('reset.css');

:root {
    --color-white: #fff;
    --color-neutral: #666666;
    --color-neutral-200: #b3b3b3;
    --color-neutral-300: #999999;
    --color-neutral-600: #4d4d4d;
    --color-neutral-700: #333333;

    --color-primary: #ff8b20;
    --color-primary-200: #fff4eb;
    --color-primary-600: #eb7100;
    --color-primary-700: #b85800;

    --color-accent: #4a08ff;
    --color-accent-200: #e1d6ff;
    --color-accent-600: #3900d6;
    --color-accent-700: #2c00a3;

    --color-status-danger: #ff2d20;
    --color-status-danger-300: #ff8c85;
    --color-status-danger-800: #850800;

    --color-status-success: #20ff51;
    --color-status-success-300: #85ffa0;
    --color-status-success-800: #00851d;

    --color-status-alert: #ffce20;
    --color-status-alert-300: #ffe485;
    --color-status-alert-800: #856700;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 318px 1fr;
    grid-template-rows: calc(100vh - 48px);
}

.aside {
    padding: 64px 69px 32px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 47px 0px 28px rgba(0, 0, 0, 0.01),
        21px 0px 21px rgba(0, 0, 0, 0.02), 5px 0px 11px rgba(0, 0, 0, 0.02),
        0px 0px 0px rgba(0, 0, 0, 0.02);
}

.aside .logo {
    margin-left: 69px;
}

.aside .informational-data {
    margin-top: auto;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-neutral);
}

main {
    padding: 21px;
}

.orders {
    display: none;
}

.header {
    margin-bottom: 26px;
}

.header h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--color-neutral-600);
}

.orders .button-newOrder {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-white);
    border: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: 0.3s;
}

.orders .button-newOrder:hover {
    background-color: var(--color-accent-700);
}

.container-filter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 16px;
}

.label-filter {
    color: var(--color-neutral);
    display: block;
    line-height: 22px;
    margin-bottom: 8px;
}

.select-filter {
    width: 164px;
    margin-right: 16px;
    border: 1px solid #666666;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-neutral-200);
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    background: url(../images/arrowdown2.svg) no-repeat center right;
}

.button-print {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-primary);
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.button-print:hover {
    background-color: var(--color-primary-200);
}

.footer {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    border-top: 1px solid #f3f3f3;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.table {
    width: 100%;
}

.order-table {
    width: 100%;
    border-top: solid var(--color-neutral-200) 1px;
    border-bottom: solid var(--color-neutral-200) 1px;
    background-color: #ECECEC;
    text-align: left;
}

.order-table th {
    padding: 8px;
}

.feedback-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.feedback-order p {
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: var(--color-neutral-200);
}

.filter-request {
    margin-bottom: 56px;
}

.filter-request label {
    line-height: 22px;
    display: block;
    color: var(--color-neutral);
    margin-bottom: 11px;
}

.field-request {
    display: inline-block;
    margin-right: 32px;
    line-height: 22px;
    font-weight: 500;
}

form .search-product {
    margin-bottom: 27px;
}

form .search-product label {
    display: block;
    color: var(--color-neutral);
    line-height: 22px;
}

.search-product-fields {
    display: flex;
    align-items: center;
    gap: 16px;
}

form .search-product input {
    width: 100%;
    max-width: 349px;
    padding: 8px 16px;
    border: 1px solid var(--color-neutral);
    border-radius: 8px;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-neutral-200);
}

.button-search {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    background: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-primary);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.button-search:hover {
    background-color: var(--color-primary-200);
}

form {
    margin-bottom: 32px;
}

.container-fields {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.field-amount label, .field-product label, .field-price label {
    display: block;
    line-height: 22px;
    color: var(--color-neutral);
}

.field-amount input, .field-product input, .field-price input {
    padding: 8px 16px;
    border: 1px solid var(--color-neutral);
    border-radius: 8px;
    font-size: 16px;
    color: var(--color-neutral-200);
}

.field-product {
    width: 100%;
    max-width: 556px;
}

.field-product input {
    width: 100%;
}

.button-addProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: var(--color-neutral-200);
    color: var(--color-white);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    margin-left: auto;
    cursor: pointer;
}