@import url('reset.css');

:root {
    --color-white: #fff;
    --color-neutral: #666666;
    --color-neutral-200: #b3b3b3;
    --color-neutral-300: #999999;
    --color-neutral-600: #4d4d4d;
    --color-neutral-700: #333333;

    --color-primary: #ff8b20;
    --color-primary-200: #fff4eb;
    --color-primary-600: #eb7100;
    --color-primary-700: #b85800;

    --color-accent: #4a08ff;
    --color-accent-200: #e1d6ff;
    --color-accent-600: #3900d6;
    --color-accent-700: #2c00a3;

    --color-status-danger: #ff2d20;
    --color-status-danger-300: #ff8c85;
    --color-status-danger-800: #850800;

    --color-status-success: #20ff51;
    --color-status-success-300: #85ffa0;
    --color-status-success-800: #00851d;

    --color-status-alert: #ffce20;
    --color-status-alert-300: #ffe485;
    --color-status-alert-800: #856700;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 318px 1fr;
    grid-template-rows: calc(100vh - 48px);
}
.aside {
    padding: 64px 69px 32px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 47px 0px 28px rgba(0, 0, 0, 0.01),
        21px 0px 21px rgba(0, 0, 0, 0.02), 5px 0px 11px rgba(0, 0, 0, 0.02),
        0px 0px 0px rgba(0, 0, 0, 0.02);
}
.aside .logo {
    margin-left: 69px;
}
.aside .informational-data {
    margin-top: auto;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-neutral);
}

main {
    padding: 21px;
}

.orders header {
    margin-bottom: 26px;
}

.orders header h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--color-neutral-600);
}

.orders .button-newOrder {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-white);
    border: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: 0.3s;
}

.orders .button-newOrder:hover {
    background-color: var(--color-accent-700);
}

.footer {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    border-top: 1px solid #f3f3f3;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
<<<<<<< HEAD
}
section{
    width: 100%;
}

.order-table {
    width: 100%;
=======
>>>>>>> 30dcfec7ce045ad99118de649216fda4685441af
}
